/bentley_ottmann(RAW)/bentley_ottmann/Debug
/bentley_ottmann(RAW)/bentley_ottmann/bentley_ottmann/.vs
/bentley_ottmann(RAW)/bentley_ottmann/bentley_ottmann/Debug

/bentley_ottmann(STL)/bentley_ottmann/Debug
/bentley_ottmann(STL)/bentley_ottmann/bentley_ottmann/.vs
/bentley_ottmann(STL)/bentley_ottmann/bentley_ottmann/Debug

